In [2]:
import pandas as pd
import re
from collections import Counter
import spacy
from spacy.tokenizer import Tokenizer
from geopy.geocoders import Nominatim
from tqdm.autonotebook import tqdm
import time
import os

//anaconda3/lib/python3.7/site-packages/tqdm/autonotebook.py:17: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  " (e.g. in jupyter console)", TqdmExperimentalWarning)

In [20]:
path = os.path.join(".", "data", "exported.csv")
data = pd.read_csv(path)
data = data[["chronoscope", "latitude", "longitude"]]

In [21]:
data

          chronoscope   latitude  longitude
0   chronoscope_13482  52.377850   9.737548
1   chronoscope_10107  52.377850   9.737548
2   chronoscope_12692  46.522570   6.580950
3   chronoscope_13074  51.497386  -0.174657
4   chronoscope_13184  52.377850   9.737548
5   chronoscope_13548  46.201756   6.146601
6   chronoscope_13919  43.662917 -79.395746
7   chronoscope_14453  43.662917 -79.395746
8   chronoscope_14480  52.377850   9.737548
9   chronoscope_15057  50.873931   4.708316
10  chronoscope_16404  48.077723  -1.666354
11  chronoscope_16897  40.817500 -96.701389
12  chronoscope_17157  48.578504   7.763608
13  chronoscope_20244  51.497386  -0.174657
14  chronoscope_20260  48.130039  11.582888
15  chronoscope_20658  44.968896 -93.261855
16  chronoscope_20659  40.809705 -73.963389
17   chronoscope_2505  38.110238  13.373410
18  chronoscope_25347  45.220864  10.037038
19   chronoscope_3716  48.578504   7.763608
20   chronoscope_5370  52.161534   4.488904
21   chronoscope_7001  41.316050 -72.921132
22   chronoscope_8319  52.518757  13.393560
23   chronoscope_9258  46.201756   6.146601

In [22]:
data["coordinates"] = ""

for i in range(len(data)):
    data["coordinates"][i] = str(data["latitude"][i]) + ", " +str(data["longitude"][i])
data

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,chronoscope,latitude,longitude,coordinates
0,chronoscope_13482,52.377850,9.737548,"52.37785035, 9.737547582073859"
1,chronoscope_10107,52.377850,9.737548,"52.37785035, 9.737547582073859"
2,chronoscope_12692,46.522570,6.580950,"46.5225695, 6.58095049765429"
3,chronoscope_13074,51.497386,-0.174657,"51.4973861, -0.17465652444465"
4,chronoscope_13184,52.377850,9.737548,"52.37785035, 9.737547582073859"
5,chronoscope_13548,46.201756,6.146601,"46.2017559, 6.146601400000001"
6,chronoscope_13919,43.662917,-79.395746,"43.662917, -79.395746"
7,chronoscope_14453,43.662917,-79.395746,"43.662917, -79.395746"
8,chronoscope_14480,52.377850,9.737548,"52.37785035, 9.737547582073859"
9,chronoscope_15057,50.873931,4.708316,"50.8739306, 4.70831628918913"
10,chronoscope_16404,48.077723,-1.666354,"48.07772335, -1.66635435664524"
11,chronoscope_16897,40.817500,-96.701389,"40.8175, -96.70138888888901"
12,chronoscope_17157,48.578504,7.763608,"48.5785039, 7.7636081179738605"
13,chronoscope_20244,51.497386,-0.174657,"51.4973861, -0.17465652444465"
14,chronoscope_20260,48.130039,11.582888,"48.13003865, 11.5828884885519"
15,chronoscope_20658,44.968896,-93.261855,"44.9688959, -93.26185480270951"
16,chronoscope_20659,40.809705,-73.963389,"40.80970505, -73.9633886873962"
17,chronoscope_2505,38.110238,13.373410,"38.11023805, 13.373410067655598"
18,chronoscope_25347,45.220864,10.037038,"45.22086405, 10.0370379796289"
19,chronoscope_3716,48.578504,7.763608,"48.5785039, 7.7636081179738605"
20,chronoscope_5370,52.161534,4.488904,"52.1615338, 4.4889042"
21,chronoscope_7001,41.316050,-72.921132,"41.316049799999995, -72.9211317278171"
22,chronoscope_8319,52.518757,13.393560,"52.51875685, 13.3935604936378"
23,chronoscope_9258,46.201756,6.146601,"46.2017559, 6.146601400000001"

In [23]:
data = data[["chronoscope", "coordinates"]]
data

          chronoscope                            coordinates
0   chronoscope_13482         52.37785035, 9.737547582073859
1   chronoscope_10107         52.37785035, 9.737547582073859
2   chronoscope_12692           46.5225695, 6.58095049765429
3   chronoscope_13074          51.4973861, -0.17465652444465
4   chronoscope_13184         52.37785035, 9.737547582073859
5   chronoscope_13548          46.2017559, 6.146601400000001
6   chronoscope_13919                  43.662917, -79.395746
7   chronoscope_14453                  43.662917, -79.395746
8   chronoscope_14480         52.37785035, 9.737547582073859
9   chronoscope_15057           50.8739306, 4.70831628918913
10  chronoscope_16404         48.07772335, -1.66635435664524
11  chronoscope_16897            40.8175, -96.70138888888901
12  chronoscope_17157         48.5785039, 7.7636081179738605
13  chronoscope_20244          51.4973861, -0.17465652444465
14  chronoscope_20260          48.13003865, 11.5828884885519
15  chronoscope_20658         44.9688959, -93.26185480270951
16  chronoscope_20659         40.80970505, -73.9633886873962
17   chronoscope_2505        38.11023805, 13.373410067655598
18  chronoscope_25347          45.22086405, 10.0370379796289
19   chronoscope_3716         48.5785039, 7.7636081179738605
20   chronoscope_5370                  52.1615338, 4.4889042
21   chronoscope_7001  41.316049799999995, -72.9211317278171
22   chronoscope_8319          52.51875685, 13.3935604936378
23   chronoscope_9258          46.2017559, 6.146601400000001

In [25]:
path = os.path.join(".", "data", "cleaned.csv")
data.to_csv(path, index = False)